<div class="container">
    {{!-- title --}}
    <div class="row">
        <div class="col s8">
            <h2>Burger!</h2>
        </div>
    </div>
    {{!-- instructions --}}
    <div class="row">
        <div class="col s8">
            <h4>Click on a burger to devour it or add your own 🍔</h4>
        </div>
    </div>
    {{!-- burgers --}}
    <div class="row">
        <div class="col s5">
            <h4>Burgers to be devoured</h4>
            {{#each burgers}}
            {{#unless devoured}}
                <button class="undevoured waves-effect waves-light btn-small" data-id='{{this.id}}' data-devoured='{{this.devoured}}'>{{this.burger_name}}</button>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col s5">
            <h4>Devoured Burgers</h4>
            {{#each burgers}}
            {{#if devoured}}
                <p class='devoured' data-id='{{this.id}}' data-devoured='{{this.devoured}}'>
            {{this.burger_name}}</p>
            {{/if}}
            {{/each}}
        </div>
    </div>
    {{!-- form --}}
    <div class="row">
        <div class="col s10">
            <h4>Add a Burger!</h4>
            <form id="add-burger">
                <div class="row">
                    <div class="col s4">
                        <textarea id="new" class="materialize-textarea" type='text' name="newBurger"></textarea>
                        <button class="waves-effect waves-light btn-small" type="submit">Add burger</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>