body {
    color: #f5f5f5;
    background-image: url(../img/burger.jpg);
    background-size: cover;
    font-family: 'Exo', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

p {
    font-size: 1.1rem;
    color: #fdd835;
}

/* button style */
.btn-small {
    margin: .6rem .6rem .6rem 0;
    background-color: #c62828;
}

.btn-small:hover {
    background-color: #ef5350;
    color: #212121;
}

/* input style */
textarea {
    color: #f5f5f5;
}